extends success
block append title
  link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400:700")
  link(rel="stylesheet" type="text/css" href="css/client.css")
  link(rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
body
block header
  div(id="ws-header")
    div(id="ws-logo")
      div(id="ws-logo-sb")="W"
block content
  div(id="ws-container")
    div(id="ws-songs")
      each fav in favs
        div(class="ws-song-row" data-ws-id=fav.id)
          div(class="ws-song-avatar")
            img(src=fav.artwork_url||fav.user.avatar_url)
          div(class="ws-song-info" data-ws-href=fav.permalink_url)
            ul
              li(class="ws-song-title")=fav.title
              li(class="ws-song-artist")=fav.user.username
          div(class="ws-song-status")
            div(class="ws-song-status-icon" id="ws-song-added")
              i(class="ion-ios-checkmark" style="color:#2cc185;")
            div(class="ws-song-status-icon" id="ws-song-playing")
              i(class="ion-ios-play-outline" style="color:#ff5500")
        div(class="ws-divider")
    div(id="ws-footer")
      div(id="ws-nwpl")
        div(id="ws-np-text")= "Now Playing"
        div(id="ws-current-track")= "Nothing is being played."
      div(id="ws-queue")
  script(src="js/socket.io/socket.io.js")
  script(src="js/client.js")
